version: '3.8'

services:
  # Tu aplicación Backend
  web:
    build: .
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  # Base de Datos MySQL
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: proyectoFinanciero
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"

  # Interfaz gráfica para la BD (Reemplazo de lo que veías en XAMPP)
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    depends_on:
      - db
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root

volumes:
  db_data: